In [76]:
%matplotlib inline
import numpy as np
import pandas as pd

In [ ]:
# np.random.choice: selects random options from a list
# np.random.uniform: generates numbers between a given lower and upper bound
# np.random.random: generates numbers between 0 and 1
# np.random.randn: generates numbers from the standard normal distribution
# np.random.normal: generates numbers from a normal distribution with a specified mean and standard deviation

In [ ]:
# Exercises
# Using the repo setup directions, setup a new local and remote repository named statistics-exercises. The local version of your repo should live inside of ~/codeup-data-science. This repo should be named statistics-exercises

# Do your work for this exercise in either a python file named simulation.py or a jupyter notebook named simulation.ipynb.

# How likely is it that you roll doubles when rolling two dice?

# If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

# There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

# Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

# Compare Heights

# Men have an average height of 178 cm and standard deviation of 8cm.
# Women have a mean of 170, sd = 6cm.
# Since you have means and standard deviations, you can use np.random.normal to generate observations.
# If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?
# When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails. What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

# What is the probability that we observe an installation issue within the first 150 students that download anaconda?

# How likely is it that 450 students all download anaconda without an issue?

# There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

# How likely is it that a food truck will show up sometime this week?

# If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

Exercise 1

In [150]:
# How likely is it that you roll doubles when rolling two dice?
n_trials = n_rows = 10_000
n_dice  = n_cols = 2
rolls = np.random.choice([1,2,3,4,5,6],size=(n_rows, n_cols)) #you canuse size for rows and columns
rolls

# n_rows = 10_0000
# n_cols = 2 # to represent rolling two dice per each simulation
# rolls = np.random.choice([1, 2, 3, 4, 5, 6], size=(n_rows, n_cols))
# rolls = pd.DataFrame(rolls, columns=["die1", "die2"])
# rolls.head()

array([[5, 1],
       [4, 6],
       [3, 3],
       ...,
       [6, 6],
       [5, 6],
       [6, 2]])

In [151]:
rolls_df = pd.DataFrame(rolls, columns=["die1", "die2"])
rolls_df

      die1  die2
0        5     1
1        4     6
2        3     3
3        5     4
4        5     5
...    ...   ...
9995     3     5
9996     5     1
9997     6     6
9998     5     6
9999     6     2

[10000 rows x 2 columns]

In [152]:
rolls_df["if_doubles"]= rolls_df["die1"]==rolls_df["die2"]
rolls_df

      die1  die2  if_doubles
0        5     1       False
1        4     6       False
2        3     3        True
3        5     4       False
4        5     5        True
...    ...   ...         ...
9995     3     5       False
9996     5     1       False
9997     6     6        True
9998     5     6       False
9999     6     2       False

[10000 rows x 3 columns]

In [153]:
(rolls_df["die1"]==rolls_df["die2"]).mean()

0.1664

In [25]:
# sums_by_trial = rolls.sum(axis=1)
# sums_by_trial    #for converting the code into a sum of the lists in the array and summingnthem up

Exercise 2

In [ ]:
# Next we create the rolls variable that holds a 3 x 10,000 matrix 
# where each element is a randomly chosen number from 1 to 6

In [156]:
num_trials = num_rows = 10000
num_flips  = num_cols = 8
toss = np.random.choice([0,1], num_trials*num_dice).reshape(num_rows,num_cols)
toss
toss_df = pd.DataFrame(toss)
toss_df.head()

   0  1  2  3  4  5  6  7
0  1  0  1  1  0  1  1  0
1  1  0  0  0  1  1  1  0
2  1  1  1  1  0  1  1  1
3  1  0  1  0  1  0  0  0
4  0  0  0  1  0  1  0  1

In [161]:
toss_df["sum_of_toss"] = sum_toss= (toss_df.sum(axis =1))
toss_df

      0  1  2  3  4  5  6  7  sum_of_toss
0     1  0  1  1  0  1  1  0            5
1     1  0  0  0  1  1  1  0            4
2     1  1  1  1  0  1  1  1            7
3     1  0  1  0  1  0  0  0            3
4     0  0  0  1  0  1  0  1            3
...  .. .. .. .. .. .. .. ..          ...
9995  0  1  0  0  1  0  1  0            3
9996  1  0  1  0  1  0  1  1            5
9997  1  1  1  1  0  0  1  0            5
9998  1  1  0  0  0  0  1  0            3
9999  0  1  0  1  0  0  1  1            4

[10000 rows x 9 columns]

In [162]:
(toss_df.sum_of_toss ==3).mean() #counts and averages the values at third sow in a boolean

0.2175

In [166]:
# What's the probability of getting more than 3 heads
(toss_df.sum_of_toss >3).mean()

0.6388

Exercise 3

In [ ]:
# There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. 
# Assuming that Codeup randomly selects an alumni to put on a billboard, 
# what are the odds that the two billboards I drive past both have data science students on them?

In [179]:
num_trials = num_rows1 = 10000
num_group  = num_cols1 = 2
toss2 = np.random.choice([0,1], num_trials*num_group, p = (0.75, 0.25)).reshape(num_rows1,num_cols1)
df_toss2=pd.DataFrame(toss2, columns=["toss_1","toss_2"])
df_toss2
# rolls_df = pd.DataFrame(rolls, columns=["die1", "die2"])
# rolls_df

      toss_1  toss_2
0          0       0
1          0       1
2          0       0
3          0       0
4          1       1
...      ...     ...
9995       0       0
9996       0       0
9997       0       0
9998       1       0
9999       0       0

[10000 rows x 2 columns]

In [180]:
df_toss2["sum_of_toss"] = sum_dstoss= (df_toss2.sum(axis =1))
df_toss2

      toss_1  toss_2  sum_of_toss
0          0       0            0
1          0       1            1
2          0       0            0
3          0       0            0
4          1       1            2
...      ...     ...          ...
9995       0       0            0
9996       0       0            0
9997       0       0            0
9998       1       0            1
9999       0       0            0

[10000 rows x 3 columns]

In [183]:
(df_toss2.sum_of_toss ==2).mean()

0.0636

Exercise 4

In [ ]:
# Codeup students buy, on average, 3 poptart packages with a standard deviation of 1.5 a day from the snack vending machine. 
# If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to 
# buy some poptarts on Friday afternoon? (Remember, if you have mean and standard deviation, use the np.random.normal)

In [184]:
num_trials1 = num_rows1 = 10000
num_days  = num_col_days1 = 5
a_vg= 3
s_td = 1.5
pop_t = np.random.normal(3,1.5, size= (num_rows1,num_col_days1))
pop_t
# n_rows = 10_000
# n_cols = 5 # to represent a 5 day week
# Âµ = 3
# Ïƒ = 1.5
# poptarts = np.random.normal(Âµ, Ïƒ, size=(n_rows, n_cols)).round()
# poptarts = pd.DataFrame(poptarts, columns=["Mon", "Tues", "Wed", "Thur", "Fri"])
# poptarts.head()
pop_t_df= pd.DataFrame(pop_t, columns=["Mon","Tue","Wed","Thur","Fri"])
pop_t_df

           Mon       Tue       Wed      Thur       Fri
0     3.250783  2.511442  3.344567  1.201960  3.312568
1     3.415889  4.771367  4.455329  2.667879  0.020022
2     3.668038  0.441705  3.145243  3.018436  3.608722
3     5.960735  3.027704  4.121983  2.396978  4.086534
4     2.164004  3.559431  2.061891  2.870959  4.159657
...        ...       ...       ...       ...       ...
9995  1.391382  3.831743  3.018160  4.638202  2.607841
9996  3.137079  4.202499  3.373201  2.459599  2.063428
9997  3.995572  3.048882  3.859695  3.272005  0.182406
9998  1.720960  2.764978  2.524056  2.000920  1.462655
9999  4.075047  1.431907  1.557481  6.710486  5.440310

[10000 rows x 5 columns]

In [192]:
(pop_t_df.sum(axis=1)<17).mean()

0.7233

In [ ]:
# Men have an average height of 178 cm and standard deviation of 8cm.
# Women have a mean of 170, sd = 6cm.
# Since you have means and standard deviations, you can use np.random.normal to generate observations.
# If a man and woman are chosen at random, what is the likelihood the woman is taller than the man?

In [230]:
men_height = np.random.normal(178, 8, 10000)
women_height = np.random.normal(170, 6, 10000)
# Since you have means and standard deviations, you can use np.random.normal to generate observations.


(women_height >men_height).mean()

0.2141

In [234]:
# When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is 
# corrupted and the installation fails. What are the odds that after having 50 students download anaconda, 
# no one has an installation issue? 100 students?
num_trials = num_rows1 = 100000
corrupt  = num_cols1 = 50
outcome = np.random.choice([0,1], p = (0.004, 0.996), size = (num_rows1,num_cols1))
# installs = np.random.choice([0, 1], p=[0.004, 0.996], size=(n_rows, n_columns))
(outcome.sum(axis=1)==50).mean()

0.81949

In [244]:
num_trials = num_rows1 = 10000
corrupt  = num_cols1 = 100
outcome = np.random.choice([0,1], p = (0.004, 0.996),size = (num_rows1,num_cols1))
(outcome.sum(axis=1)==100).mean()

0.6799

In [249]:
# What is the probability that we observe an installation issue within the first 150 students that download anaconda?
num_trials = num_rows1 = 10000
corrupt  = num_cols1 = 150
outcome = np.random.choice([0,1], p = (0.004, 0.996), size = (num_rows1,num_cols1))
(outcome.sum(axis=1)==150).mean()

0.5437

In [253]:
# How likely is it that 450 students all download anaconda without an issue?
num_trials = num_rows1 = 10000
corrupt  = num_cols1 = 450
outcome = np.random.choice([0,1], p = (0.004, 0.996), size = (num_rows1,num_cols1))
(outcome.sum(axis=1)==450).mean()

0.1648

In [255]:
# There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?
num_trials = num_rows1 = 10000
food_truck  = num_cols1 = 3
outcome = np.random.choice([1,0], p = (0.7, 0.3),size = (num_rows1,num_cols1))
(outcome.sum(axis=1)==0).mean()

0.0278

In [265]:
# What's the probability of seeing a food truck in the next 2 days?
# Food truck presence (in this setup is independent)
num_trials = num_rows1 = 10000
num_cols = 2 # to represent 2 days in a row

outcome = np.random.choice([1, 0], size=(num_rows1, num_cols1), p=[0.7, 0.3])
(outcome.sum(axis=1) > 0).mean()

0.9928

In [259]:
# How likely is it that a food truck will show up sometime this week? still have 4 days left
num_trials = num_rows1 = 10000
food_truck  = num_cols1 = 4
outcome = np.random.choice([0,1], p = (0.7, 0.3),size = (num_rows1,num_cols1))
(outcome.sum(axis=1)>0).mean()

0.7612

In [ ]:
n_rows = 10_000
n_cols = 23 # to represent 23 individuals

birthdays = np.random.choice(range(365), size=(n_rows, n_cols))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)

(birthdays.n_unique != 23).mean()

In [272]:
# If 23 people are in the same room, what are the odds that two of them share a birthday? 
num_trials = num_rows1 = 10000
people  = num_cols1 = 23
birthdays = np.random.choice(range(365), size = (num_rows1,num_cols1))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
birthdays
(birthdays.n_unique != 23).mean()  # What's the proportion of rows where we have multiple shared days

0.5086

In [273]:
# What if it's 20 people? 40?
num_trials = num_rows1 = 10000
people  = num_cols1 = 20
birthdays = np.random.choice(range(365), size = (num_rows1,num_cols1))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
birthdays
(birthdays.n_unique != 20).mean()

0.408

In [274]:
num_trials = num_rows1 = 10000
people  = num_cols1 = 40
birthdays = np.random.choice(range(365), size = (num_rows1,num_cols1))
birthdays = pd.DataFrame(birthdays)
birthdays["n_unique"] = birthdays.nunique(axis=1)
birthdays
(birthdays.n_unique != 40).mean()

0.8914